<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

<div class="new-carpet">
  <h3>Please Enter Your Carpet Information</h3>
  <%= simple_form_for @carpet do |c| %>

    <%= c.input :name, input_html: { class: "xyz"}  %>

    <%= c.input :price %>

    <%= c.input :speed %>
    <%= c.input :photo %>
    <%= c.input :photo_cache, as: :hidden %>

    <%= c.input :address %>

    <%= c.input :passengers %>

    <%= c.input :description %>
    <%= c.submit 'Save this Carpet', class: "btn-block"%>
  <% end %>
</div>




    </div>
  </div>
</div>
