
<div class="text-center mx-2 my-2">
  <h5 class="m-3" id="index-title">Popular Carpets Today</h5>
  <div class="row mx-2 my-2">
    <div id="myCarousel" class="carousel slide col-12" data-ride="carousel">
     <div class="row">
         <a class="carousel-control-prev text-dark" href="#myCarousel" role="button" data-slide="prev">
           <span class="fa fa-chevron-left align-top" aria-hidden="true"></span>
         </a>
         <a class="carousel-control-next text-dark" href="#myCarousel" role="button" data-slide="next">
           <span class="fa fa-chevron-right align-top" aria-hidden="true"></span>
         </a>
         <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="container">
            <div class="row">
             <% @carpets.in_groups_of(4, false).first.each do |carpet| %>
              <div class="col-md-3 col-sm-6 col-xs-12">
             <%= link_to carpet_path(carpet), class: "card carpet-card " do %>
             <%= cl_image_tag carpet.photo %>
             <p class="card-title"><strong><%= carpet.name %></strong></p>
             <div class="card-details">
              <p.small><%= carpet.description %></p>
            </div>
            <% end%>
              </div>
            <% end %>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
          <div class="row">
           <% @carpets.in_groups_of(4, false).second.each do |carpet| %>
           <div class="col-md-3 col-sm-6 col-xs-12">
           <%= link_to carpet_path(carpet), class: "card carpet-card" do %>
           <%= cl_image_tag carpet.photo %>
           <p class="card-title"><strong><%= carpet.name %></strong></p>
           <div class="card-details">
            <p.small><%= carpet.description %></p>
          </div>
          <% end%>
             </div>
          <% end %>
        </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
        <div class="row">
         <% @carpets.in_groups_of(4, false).third.each do |carpet| %>
         <div class="col-md-3 col-sm-6 col-xs-12">
         <%= link_to carpet_path(carpet), class: "card carpet-card" do %>
         <%= cl_image_tag carpet.photo %>
         <p class="card-title"><strong><%= carpet.name %></strong></p>
         <div class="card-details">
          <p.small> <%= carpet.description %></p>
        </div>
        <% end%>
      </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
  <div
  id="map"
  class="container-fluid offset-1.5 mt-5"
  style="width: 75%;
  height: 500px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
</div>
