


<h2>Name: <strong><%=  @carpet.name %></strong></h2>
<p>Price in Camels: <strong><%= @carpet.price %></strong></p>
<p>Description: <strong><%= @carpet.description %></strong></p>
<p>Speed (km/min): <strong><%= @carpet.speed %></strong></p>
<p>Number of supported passengers: <strong><%= @carpet.passengers %></strong></p>
<p>Owner: <strong><%= @carpet.user_id %></strong></p>

