<div class="container">
<div class="show-img">
  <%= cl_image_tag @carpet.photo, height: 300, width: 400, crop: :fill %>
</div>
<div class="container-info">
  <h2>Name: <strong><%=  @carpet.name %></strong></h2>

  <td>
    <%= link_to edit_carpet_path(@carpet), class: 'btn btn-default' do %>
    <span class="fas fa-pencil-alt"></span>
    <% end %>
  </td>
  <td>
    <%= link_to carpet_path(@carpet), method: :delete, data: { confirm: "Are You Sure?"}, class: 'btn btn-default' do %>
    <% end %>
    <span class="fas fa-trash"></span>
  </td>

  <p>Price in Camels: <strong><%= @carpet.price %></strong></p>
  <p>Description: <strong><%= @carpet.description %></strong></p>
  <p>Speed (km/min): <strong><%= @carpet.speed %></strong></p>
  <p>Number of supported passengers: <strong><%= @carpet.passengers %></strong></p>
  <p>Owner: <strong><%= @carpet.user_id %></strong></p>
  <p>Address: <strong><%= @carpet.address %></strong></p>
</div>
</div>
<div>
  <div class="container-booking">
    <%= simple_form_for([@carpet, @booking]) do |c| %>
    <%= c.input :startdate, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= c.input :enddate, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= c.submit 'Book this Carpet', class: "btn btn-success"%>
    <% end %>
  </div>
</div>



