<!-- link to take me to edit my profile / add a picture -->
<%= link_to "Edit My Profile", edit_user_registration_path %>

<!-- My bookings Section, link to carpets index if no booked carpets -->
<% if @bookings.length == 0 %>
  <%= link_to carpets_path do %>
    <p class="header">
      Book a Carpet NOW!
    </p>
  <% end %>
<% else %>
  <div class="header">
    <h1>Your Booked Carpets:</h1>
  </div>
  <% @bookings.each do |booking|%>
    <div class="d-flex mt-3 our-booking">
      <%= cl_image_tag booking.carpet.photo, class: "img"%>
      <h4><%= booking.carpet.name %></h4>
      <p><%= booking.carpet.description %></p>
      <p><%= booking.carpet.address %></p>
      <div class="dates">
        <p> <%= booking.startdate %></p>
        <p> <%= booking.enddate %></p>
      </div>
      <div>
        <%= link_to "Show carpet", carpet_path(booking.carpet)%>
      </div>
    </div>
  <% end %>
<% end %>



<!-- My listed carpets Section, link to list a carpet if no carpets listed -->
<div class="header">
  <h1>Your Listed Carpets:</h1>
</div>

<% @listed_carpets.each do |carpet|%>


<div class="d-flex mt-3 our-booking">
  <%= cl_image_tag carpet.photo, class: "img"%>
  <h4><%= carpet.name %></h4>
  <p><%= carpet.description %></p>
  <p><%= carpet.address %></p>
  <div>
    <%= link_to "Edit Carpet", carpet_path(carpet)%>
  </div>


</div>
<% end %>
